#curl -o .gitignore
#https://raw.githubusercontent.com/github/gitignore/master/Java.gitignore
#https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore

.gitignore
*.class

# Log file
*.log
logs


# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

## Directory-based project format
.idea/
*.iml


